
# BetterAuth configuration:
BETTER_AUTH_URL=http://localhost:8788 # Base URL of your app
BETTER_AUTH_SECRET=

# URL Configuration
ROOT_DOMAIN=
CDN_ROOT=


#email sending (can use ohter services )
RESEND_API_KEY=""

# # google SSO
# GOOGLE_CLIENT_ID=""
# GOOGLE_CLIENT_SECRET=""

# # Apple SSO
# APPLE_CLIENT_ID=""
# APPLE_TEAM_ID="22G5SZ83PN"
# APPLE_KEY_ID=""
# APPLE_PRIVATE_KEY=""
# APPLE_APP_BUNDLE_ID=""   